@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    @apply bg-gray-800;
}
html {
    scroll-behavior: smooth;
}

.set {
    @apply px-6 pb-4 sm:px-10;
}
